<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0"><%= t('comments') %></h6>
    <% @post.comments.each do |comment| %>
		  <div class="media pt-3">
    		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#007bff" width="100%" height="100%"></rect><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg>
   			<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
       		<strong class="d-block text-gray-dark"><%= comment.username %></strong>
       		<%= comment.body %>
          <%= link_to '[X]', [comment.post, comment], method: :delete, data: {confirm: t('sure') } %>
   			</p>
   		</div>
    <% end %>
   	<small class="d-block text-right mt-3">
   		<a href="#"><%= t('updates') %></a>
	  </small>
</div>