<h4><%= t('add_comment') %></h4>
	<%= form_for([@post, @post.comments.build]) do |f| %>
	<p>
		<a class="form_title">Username:</a>
		<%= f.text_field(:username, {:class => 'form_control'})  %>
	</p>
	<p>
		<a class="form_title"><%= t('post') %></a><br>
		<%= f.text_area(:body, {:class => 'form_control'}) %>
	</p>
	<p>
		<%= f.submit(t('submit'), {:class => 'btn btn-primary'}) %>
	</p>
<% end %>