<div class="container">	
	<h1><%= t('edit_post') %></h1>
	<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
		<% if @post.errors.any? %>
			<% @post.errors.full_messages.each do |msg| %>
				<div class="alert alert-danger"><%= msg %></div>
			<% end %>
		<% end %>
		<p>
			<a class="form_title"><%= t('title') %></a><br>
			<%= f.text_field(:title, {:class => 'form_control'})  %>
		</p>
		<p>
			<a class="form_title"><%= t('post') %></a><br>
			<%= f.text_area(:body, {:class => 'form_control'}) %>
		</p>
		<p>
			<%= f.submit(t('submit'), {:class => 'btn btn-primary'}) %>
		</p>
	<% end %>
</div>