<div class="container">    
    <h1><%= t('blog_posts') %></h1>
    <% @posts.each do |post| %>
	   <div class="card flex-md-row mb-4 shadow-sm h-md-250 border">
            <div class="card-body d-flex flex-column align-items-start">
        	   <strong class="d-inline-block mb-2 text-primary">World</strong>
        	   <h3 class="mb-0"><a class="text-dark title" href="#"><%= post.title %></a></h3>
        	   <div class="mb-1 text-muted"><%= post.created_at.to_date.strftime("%d %B, %Y") %></div>
        	   <p class="card-text mb-auto"><%= post.body %></p>
        	   <%= link_to t('read_more'), post_path(post), :class => 'btn btn-default' %>
    	   </div>
        </div>
    <% end %> 
</div>