<div class="jumbotron p-3 p-md-5 text-white bg-dark">
    <div class="col-md-6 px-0">
    	<h2 class="display-4 font-italic title"><%= @post.title %></h2>
    	<p class="lead my-3"><%= @post.body %></p>
    	<hr>
    	<%= link_to t('edit'), edit_post_path(@post), :class => 'btn btn-default' %>
		<%= link_to t('delete'), post_path(@post), method: :delete, 
											data: {confirm: t('sure') }, 
											:class => 'btn btn-danger' %>
    </div>
</div>

<hr>
<div class="container">
	<%= render 'comments/comments' %>
	<hr>
	<%= render 'comments/form' %>
</div>
