/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-right {
    position: absolute;
    left: 0;
    height: 50%;
}

a {
    font-family: Arial;
    color: black;
    text-decoration: none;
}

#logo {
   font-family: Times New Roman;
}

nav {
	height: 45px;
}

.form_title {
	font-family: Arial;
	font-size: 15px;
	font-style: italic;
	padding: 5px;
}

/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 45px;
}