// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_control {
	width: 100%;
	padding: 2px;
   	border: 1px solid black;
	border-radius: 5px;
}

.border {
   	border: 1px solid black;
	border-radius: 4px;
}

.btn-default {
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	border-radius: 3px;
}

.title {
	text-transform: capitalize
}