<!DOCTYPE html>
<html>
  <head>
    <title>Gleb's Blog</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-light fixed-top">
      <a class="blog-header-logo navbar-brand" href="#" id=logo><%= t('logo') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div>
        <a class="p-2 text" href="#"><%= link_to t('home'), home_path %></a>
        <a class="p-2 text" href="#"><%= link_to t('create_post'), new_post_path %></a>
        <% if user_signed_in? %>
          <a class="p-2 text" href="#"><%= link_to t('signout'), destroy_user_session_path, method: :delete %></a>
        <% else %>
          <a class="p-2 text" href="#"><%= link_to t('signin'), new_user_session_path %></a>
          <a class="p-2 text" href="#"><%= link_to t('signup'), new_user_registration_path %></a>
        <% end %>
        <a class="p-2 text<%= ' active' if I18n.locale == :en %>"><%= link_to "Рус", { locale: :ru } %></a>
        <a class="p-2 text<%= ' active' if I18n.locale == :ru %>"><%= link_to "Eng", { locale: :en } %></a>
      </div>
    </nav>
    <div class="col-md-12">
      <% flash.each do |name, message| %>
        <div class="alert <%= bootstrap_class_for(name) %>">
          <button class="close" data-dismiss="alert">&times;</button>
          <%= message %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
